<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="henriqueamrl_lgpd" translate="label" sortOrder="200">
            <label>LGPD Compliance</label>
        </tab>
        <!-- Global Settings -->
        <include path="HenriqueAmrl_Lgpd::system/general.xml"/>
        <!-- Action Settings -->
        <include path="HenriqueAmrl_Lgpd::system/action.xml"/>
        <!-- Erasure Settings -->
        <include path="HenriqueAmrl_Lgpd::system/erasure.xml"/>
        <!-- Export Settings -->
        <include path="HenriqueAmrl_Lgpd::system/export.xml"/>
        <!-- Notification Settings -->
        <include path="HenriqueAmrl_Lgpd::system/notification.xml"/>
        <!-- Cookie Settings -->
        <include path="HenriqueAmrl_Lgpd::system/cookie.xml"/>
    </system>
</config>
